{% extends 'base.html' %}
{% load myfilters %}

{% block content %}

<style>
     .container-form-content {
        background-color: #fff;
        padding: 5%;
        border-radius: 5px;
        margin-top: 3rem;
    }

    .field {
        margin-top: 5px;
    }

</style>
<div class="row ">

    <div class="col-md">
    </div>


    <div class="col-md-4">
        <div class="container-form-content">
            
            <h3 class="h3 text-center">
                Deseja alterar a senha?
            </h3>
            <small class="col text-dark text-center">
                <p>Altere sua senha preenchendo os dados abaixo:</p>
            </small>
            <form method="POST">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="username" class="form-label">Username</label>
                    <input type="text" name="username" class="form-control" id="username" aria-describedby="emailHelp">
                </div>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">E-mail</label>
                    <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                </div>
                <div class="mb-3">
                    <label for="new_password" class="form-label">Nova senha</label>
                    <input type="password" name="new_password" class="form-control" id="new_password">
                    <div id="passwordHelp" class="form-text">Ninguém poderá ver sua senha. </div>
                </div>

                <div class="d-grid gap-2 col-6 mx-auto">
                    <button class="btn btn-success" type="submit">Alterar senha</button>
                </div>
                <div class="row g-2 p-3 text-center">
                    <small class="col text-dark">
                        <a href="{% url 'users:create-users' %}">
                            Não tem conta? Faça seu cadastro
                        </a>
                    </small>
                </div>
            </form>
            {% if error %}
                <div class="card bg-danger">
                    <div class="card-body text-white">
                    <p>
                        Os seguintes erros foram apresentados: 
                        <ul>
                            <li>
                                {{error}}
                            </li>
                        </ul>
                    </p> 
                    </div>
                </div>
            {% endif %}

        </div>
    </div>

    <div class="col-md">
    </div>
</div>
{% endblock %}