{% load static %}
<footer class="u-align-center u-black u-clearfix u-footer" id="sec-6c1d">
    <div class="u-clearfix u-sheet u-sheet-1">
        <a href="https://nicepage.com" class="u-align-left u-image u-logo u-image-1" data-image-width="1080"
            data-image-height="1080">
            <img src="{% static 'images/imported/51.png' %}" class="u-logo-image u-logo-image-1">
        </a>
        <p
            class="u-align-center-lg u-align-center-md u-align-center-xl u-custom-font u-font-montserrat u-text u-text-1">
            <span class="u-file-icon u-icon"><img src="{% static 'images/imported/732200.png'%}"
                    alt=""></span>&nbsp;<span style="font-weight: 700;">EMAIL DOS FUNDADORES<br>
            </span><b>&nbsp;jonatasdavi.escola3aii@gmail.com</b>
            <br><b>lyvpassosantos@gmail.com</b>
            <br><b>lopessara316@gmail.com</b>
            <br>
        </p>
        <p class="u-align-right u-custom-font u-font-montserrat u-text u-text-2">
            <a class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-body-alt-color u-btn-1"
                href="https://instagram.com/heyjonatasdavi?igshid=YmMyMTA2M2Y=" target="_blank"><span
                    class="u-file-icon u-icon"><img src="{% static 'images/imported/2111463.png' %}"
                        alt=""></span>&nbsp;​@heyjonatasdavi<br>
            </a>
        </p>
        <p class="u-align-right u-custom-font u-font-montserrat u-text u-text-3">
            <a class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-white u-btn-2"
                href="https://instagram.com/passos_lyv?igshid=YmMyMTA2M2Y=" target="_blank"><span
                    class="u-file-icon u-icon"><img src="{% static 'images/imported/2111463.png' %}"
                        alt=""></span>&nbsp;​@passos_lyv<br>
            </a>
        </p>
        <p class="u-align-right u-custom-font u-font-montserrat u-text u-text-4">
            <a class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-body-alt-color u-btn-3"
                href="https://instagram.com/saralopes_0?igshid=YmMyMTA2M2Y=" target="_blank"><span
                    class="u-file-icon u-icon"><img src="{% static 'images/imported/2111463.png' %}"
                        alt=""></span>&nbsp;@saralopes_0
            </a>
        </p>
    </div>
</footer>