.u-section-1 {
    background-image: url("images/WhatsAppImage2022-05-22at16.15.07-27.jpeg");
    background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
    min-height: 659px;
}

.u-section-1 .u-text-1 {
    font-size: 4.5rem;
    margin: 88px auto 0;
}

.u-section-1 .u-line-1 {
    width: 601px;
    transform-origin: left center 0px;
    margin: 8px auto 0;
}

.u-section-1 .u-text-2 {
    margin: 3px 23px 60px 73px;
}

@media (max-width: 1199px) {
    .u-section-1 .u-sheet-1 {
        min-height: 543px;
    }

    .u-section-1 .u-text-2 {
        width: 826px;
        margin-left: 0;
        margin-right: 0;
    }
}

@media (max-width: 991px) {
    .u-section-1 .u-sheet-1 {
        min-height: 416px;
    }

    .u-section-1 .u-text-1 {
        margin-top: -184px;
    }

    .u-section-1 .u-line-1 {
        margin-top: 259px;
    }

    .u-section-1 .u-text-2 {
        width: 720px;
        margin-top: -45px;
    }
}

@media (max-width: 767px) {
    .u-section-1 .u-sheet-1 {
        min-height: 312px;
    }

    .u-section-1 .u-text-1 {
        font-size: 3.75rem;
        margin-top: 88px;
    }

    .u-section-1 .u-line-1 {
        width: 540px;
    }

    .u-section-1 .u-text-2 {
        width: 540px;
        margin-bottom: 0;
    }
}

@media (max-width: 575px) {
    .u-section-1 .u-sheet-1 {
        min-height: 196px;
    }

    .u-section-1 .u-text-1 {
        font-size: 3rem;
    }

    .u-section-1 .u-line-1 {
        width: 340px;
        margin-top: 323px;
    }

    .u-section-1 .u-text-2 {
        width: 340px;
        margin-top: -109px;
    }
}

.u-section-2 {
    background-image: none;
}

.u-section-2 .u-sheet-1 {
    min-height: 978px;
}

.u-section-2 .u-layout-wrap-1 {
    margin: 77px 0 0;
}

.u-section-2 .u-image-1 {
    min-height: 876px;
    background-image: url("images/MARTIN.jfif");
    background-position: 50% 50%;
}

.u-section-2 .u-container-layout-1 {
    padding: 30px;
}

.u-section-2 .u-layout-cell-2 {
    min-height: 385px;
    background-image: none;
}

.u-section-2 .u-container-layout-2 {
    padding: 30px 60px;
}

.u-section-2 .u-text-1 {
    font-size: 1.5rem;
    text-transform: none;
    letter-spacing: normal;
    margin: 0 auto 0 0;
}

.u-section-2 .u-text-2 {
    margin: 20px 0 0;
}

.u-section-2 .u-layout-cell-3 {
    min-height: 491px;
    background-image: none;
}

.u-section-2 .u-container-layout-3 {
    padding: 30px 60px;
}

.u-section-2 .u-text-3 {
    font-size: 1.5rem;
    text-transform: none;
    letter-spacing: normal;
    margin: 0 0 0 auto;
}

.u-section-2 .u-text-4 {
    margin: 20px 0 0;
}

.u-section-2 .u-text-5 {
    font-weight: 400;
    margin: 8px auto 33px 378px;
}

@media (max-width: 1199px) {
    .u-section-2 .u-sheet-1 {
        min-height: 888px;
    }

    .u-section-2 .u-layout-wrap-1 {
        margin-right: initial;
        margin-left: initial;
    }

    .u-section-2 .u-image-1 {
        min-height: 722px;
    }

    .u-section-2 .u-layout-cell-2 {
        min-height: 317px;
    }

    .u-section-2 .u-layout-cell-3 {
        min-height: 405px;
    }

    .u-section-2 .u-text-5 {
        margin-left: 312px;
    }
}

@media (max-width: 991px) {
    .u-section-2 .u-sheet-1 {
        min-height: 1392px;
    }

    .u-section-2 .u-image-1 {
        min-height: 1106px;
    }

    .u-section-2 .u-layout-cell-2 {
        min-height: 100px;
    }

    .u-section-2 .u-container-layout-2 {
        padding-left: 30px;
        padding-right: 30px;
    }

    .u-section-2 .u-layout-cell-3 {
        min-height: 100px;
    }

    .u-section-2 .u-container-layout-3 {
        padding-left: 30px;
        padding-right: 30px;
    }

    .u-section-2 .u-text-5 {
        margin-left: 239px;
    }
}

@media (max-width: 767px) {
    .u-section-2 .u-sheet-1 {
        min-height: 1173px;
    }

    .u-section-2 .u-image-1 {
        min-height: 830px;
    }

    .u-section-2 .u-container-layout-1 {
        padding-left: 10px;
        padding-right: 10px;
    }

    .u-section-2 .u-container-layout-2 {
        padding-left: 10px;
        padding-right: 10px;
    }

    .u-section-2 .u-container-layout-3 {
        padding-left: 10px;
        padding-right: 10px;
    }

    .u-section-2 .u-text-5 {
        margin-left: 179px;
    }
}

@media (max-width: 575px) {
    .u-section-2 .u-sheet-1 {
        min-height: 930px;
    }

    .u-section-2 .u-image-1 {
        min-height: 523px;
    }

    .u-section-2 .u-text-5 {
        margin-left: 113px;
    }
}

.u-section-3 .u-sheet-1 {
    min-height: 668px;
}

.u-section-3 .u-text-1 {
    margin: 60px auto 0;
}

.u-section-3 .u-text-2 {
    font-weight: 700;
    margin: 20px auto 0;
}

.u-section-3 .u-list-1 {
    margin-bottom: 70px;
    margin-top: 30px;
}

.u-section-3 .u-repeater-1 {
    min-height: 375px;
    grid-auto-columns: calc(50% - 5px);
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
    grid-gap: 10px 10px;
}

.u-section-3 .u-container-layout-1 {
    padding: 0 10px;
}

.u-section-3 .u-group-1 {
    width: 370px;
    background-image: none;
    min-height: 370px;
    margin: 0 auto;
}

.u-section-3 .u-container-layout-2 {
    padding: 30px;
}

.u-section-3 .u-text-3 {
    margin: 20px auto 0;
}

.u-section-3 .u-text-4 {
    font-weight: 400;
    margin: 20px 0 0;
}

.u-section-3 .u-container-layout-3 {
    padding: 0 10px;
}

.u-section-3 .u-group-2 {
    width: 370px;
    background-image: none;
    min-height: 370px;
    margin: 0 auto;
}

.u-section-3 .u-container-layout-4 {
    padding: 30px;
}

.u-section-3 .u-text-5 {
    margin: 20px auto 0;
}

.u-section-3 .u-text-6 {
    font-weight: 400;
    margin: 20px 0 0;
}

.u-section-3 .u-container-layout-5 {
    padding: 0 10px;
}

.u-section-3 .u-group-3 {
    width: 370px;
    background-image: none;
    min-height: 370px;
    margin: 0 auto;
}

.u-section-3 .u-container-layout-6 {
    padding: 30px;
}

.u-section-3 .u-text-7 {
    margin: 20px auto 0;
}

.u-section-3 .u-text-8 {
    font-weight: 400;
    margin: 20px 0 0;
}

.u-section-3 .u-gallery-nav-1 {
    position: absolute;
    left: 10px;
    width: 40px;
    height: 40px;
}

.u-section-3 .u-gallery-nav-2 {
    position: absolute;
    width: 40px;
    height: 40px;
    left: auto;
    top: 168px;
    right: 10px;
}

@media (max-width: 1199px) {
    .u-section-3 .u-repeater-1 {
        grid-template-columns: repeat(2, calc(50% - 5px));
    }
}

@media (max-width: 991px) {
    .u-section-3 .u-repeater-1 {
        grid-auto-columns: calc(100% - 0px);
        grid-template-columns: 100%;
    }
}

@media (max-width: 767px) {
    .u-section-3 .u-repeater-1 {
        grid-auto-columns: 100%;
    }

    .u-section-3 .u-container-layout-2 {
        padding-left: 10px;
        padding-right: 10px;
    }

    .u-section-3 .u-container-layout-4 {
        padding-left: 10px;
        padding-right: 10px;
    }

    .u-section-3 .u-container-layout-6 {
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media (max-width: 575px) {
    .u-section-3 .u-group-1 {
        width: 320px;
        min-height: 320px;
    }

    .u-section-3 .u-group-2 {
        width: 320px;
        min-height: 320px;
    }

    .u-section-3 .u-group-3 {
        width: 320px;
        min-height: 320px;
    }
}

.u-section-4 .u-sheet-1 {
    min-height: 737px;
}

.u-section-4 .u-text-1 {
    margin: 21px 0 0;
}

@media (max-width: 1199px) {
    .u-section-4 .u-sheet-1 {
        min-height: 728px;
    }
}

.u-section-5 {
    background-image: linear-gradient(white, #e5e5e5);
}

.u-section-5 .u-sheet-1 {
    min-height: 1001px;
}

.u-section-5 .u-text-1 {
    margin: 48px auto 0;
}

.u-section-5 .u-text-2 {
    line-height: 1.8;
    background-image: none;
    font-size: 1.25rem;
    margin: 57px 0 75px;
}

@media (max-width: 1199px) {
    .u-section-5 .u-text-2 {
        width: 680px;
    }
}

@media (max-width: 767px) {
    .u-section-5 .u-text-2 {
        width: 540px;
    }
}

@media (max-width: 575px) {
    .u-section-5 .u-text-2 {
        width: 340px;
    }
}

.u-section-6 {
    background-image: none;
}

.u-section-6 .u-sheet-1 {
    min-height: 615px;
}

.u-section-6 .u-text-1 {
    width: 695px;
    margin: 9px auto 0;
}

.u-section-6 .u-text-2 {
    font-weight: 700;
    margin: 20px auto 0;
}

.u-section-6 .u-list-1 {
    margin-bottom: 60px;
    margin-top: 33px;
    min-height: 375px;
}

.u-section-6 .u-repeater-1 {
    min-height: 375px;
    grid-auto-columns: calc(50% - 33.5px);
    grid-template-columns: calc(50% - 33.5px) calc(50% - 33.5px);
    grid-gap: 67px 67px;
}

.u-section-6 .u-list-item-1 {
    background-image: none;
    --animation-custom_in-translate_x: -200px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
}

.u-section-6 .u-container-layout-1 {
    padding: 0 10px;
}

.u-section-6 .u-image-1 {
    width: 273px;
    height: 326px;
    margin: 0 auto;
}

.u-section-6 .u-list-item-2 {
    background-image: none;
    --animation-custom_in-translate_x: -200px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
}

.u-section-6 .u-container-layout-2 {
    padding: 0 10px;
}

.u-section-6 .u-image-2 {
    width: 273px;
    height: 326px;
    margin: 0 auto;
}

.u-section-6 .u-list-item-3 {
    background-image: none;
    --animation-custom_in-translate_x: -200px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
}

.u-section-6 .u-container-layout-3 {
    padding: 0 10px;
}

.u-section-6 .u-image-3 {
    width: 273px;
    height: 326px;
    margin: 0 auto;
}

.u-section-6 .u-list-item-4 {
    background-image: none;
    --animation-custom_in-translate_x: -200px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
}

.u-section-6 .u-container-layout-4 {
    padding: 0 10px;
}

.u-section-6 .u-image-4 {
    width: 273px;
    height: 326px;
    margin: 0 auto;
}

.u-section-6 .u-gallery-nav-1 {
    position: absolute;
    left: 10px;
    width: 39px;
    height: 39px;
    top: 168px;
}

.u-section-6 .u-gallery-nav-2 {
    position: absolute;
    width: 39px;
    height: 39px;
    left: auto;
    top: 168px;
    right: 10px;
}

@media (max-width: 1199px) {
    .u-section-6 .u-repeater-1 {
        grid-template-columns: repeat(2, calc(50% - 33.5px));
    }

    .u-section-6 .u-image-1 {
        height: 327px;
    }

    .u-section-6 .u-image-2 {
        height: 327px;
    }

    .u-section-6 .u-image-3 {
        height: 327px;
    }

    .u-section-6 .u-image-4 {
        height: 327px;
    }
}

@media (max-width: 991px) {
    .u-section-6 .u-repeater-1 {
        grid-auto-columns: calc(100% - 0px);
        grid-template-columns: 100%;
    }
}

@media (max-width: 767px) {
    .u-section-6 .u-text-1 {
        width: 540px;
    }

    .u-section-6 .u-repeater-1 {
        grid-auto-columns: 100%;
    }
}

@media (max-width: 575px) {
    .u-section-6 .u-text-1 {
        width: 340px;
    }
}

.u-section-7 {
    background-image: none;
}

.u-section-7 .u-sheet-1 {
    min-height: 902px;
}

.u-section-7 .u-shape-1 {
    width: 1064px;
    height: 724px;
    background-image: none;
    margin: 163px auto 0;
}

.u-section-7 .u-image-1 {
    width: 577px;
    height: 577px;
    background-image: url("images/dbora-29.png");
    background-position: 50% 50%;
    margin: -818px 162px 0 auto;
}

.u-section-7 .u-form-1 {
    height: 522px;
    background-image: none;
    margin: -303px 548px 0 0;
}

.u-section-7 .u-btn-1 {
    border-style: solid;
    letter-spacing: 1px;
    background-image: none;
    font-size: 1.25rem;
    text-transform: uppercase;
    font-weight: 400;
}

.u-section-7 .u-text-1 {
    font-weight: 400;
    margin: 23px 382px 60px auto;
}

@media (max-width: 1199px) {
    .u-section-7 .u-shape-1 {
        width: 940px;
    }

    .u-section-7 .u-form-1 {
        margin-right: 348px;
    }

    .u-section-7 .u-btn-1 {
        width: 100%;
    }

    .u-section-7 .u-text-1 {
        margin-right: 315px;
    }
}

@media (max-width: 991px) {
    .u-section-7 .u-shape-1 {
        width: 720px;
    }

    .u-section-7 .u-image-1 {
        margin-right: 143px;
    }

    .u-section-7 .u-form-1 {
        margin-right: 128px;
    }

    .u-section-7 .u-text-1 {
        margin-right: 241px;
    }
}

@media (max-width: 767px) {
    .u-section-7 .u-sheet-1 {
        min-height: 865px;
    }

    .u-section-7 .u-shape-1 {
        width: 540px;
    }

    .u-section-7 .u-image-1 {
        width: 540px;
        height: 540px;
        margin-right: 0;
    }

    .u-section-7 .u-form-1 {
        margin-top: -266px;
        margin-right: 0;
    }

    .u-section-7 .u-text-1 {
        margin-right: 181px;
    }
}

@media (max-width: 575px) {
    .u-section-7 .u-sheet-1 {
        min-height: 665px;
    }

    .u-section-7 .u-shape-1 {
        width: 340px;
    }

    .u-section-7 .u-image-1 {
        width: 340px;
        height: 340px;
    }

    .u-section-7 .u-form-1 {
        margin-top: -66px;
    }

    .u-section-7 .u-text-1 {
        margin-right: 114px;
    }
}

.u-section-8 {
    background-image: none;
}

.u-section-8 .u-sheet-1 {
    min-height: 330px;
}

.u-section-8 .u-image-1 {
    width: 830px;
    height: 278px;
    margin: 45px auto 7px 25px;
}

@media (max-width: 1199px) {
    .u-section-8 .u-image-1 {
        height: 296px;
        background-position: 50% 50%;
    }
}

@media (max-width: 991px) {
    .u-section-8 .u-sheet-1 {
        min-height: 293px;
    }

    .u-section-8 .u-image-1 {
        width: 720px;
        margin-left: 0;
    }
}

@media (max-width: 767px) {
    .u-section-8 .u-sheet-1 {
        min-height: 1044px;
    }

    .u-section-8 .u-image-1 {
        height: 338px;
        margin-right: initial;
        margin-left: initial;
        width: auto;
    }
}

@media (max-width: 575px) {
    .u-section-8 .u-sheet-1 {
        min-height: 1136px;
    }

    .u-section-8 .u-image-1 {
        height: 234px;
        width: auto;
        margin-right: initial;
        margin-left: initial;
    }
}

.u-section-9 {
    background-image: linear-gradient(#e5e5e5, #b3b3b3);
}

.u-section-9 .u-sheet-1 {
    min-height: 215px;
}

.u-section-9 .u-shape-1 {
    height: 478px;
    background-image: none;
    width: 1133px;
    margin: -303px auto 0;
}

.u-section-9 .u-layout-wrap-1 {
    width: 1084px;
    margin: -187px auto 59px;
}

.u-section-9 .u-layout-cell-1 {
    min-height: 125px;
}

.u-section-9 .u-container-layout-1 {
    padding: 20px 60px;
}

.u-section-9 .u-text-1 {
    margin: 0 auto 0 0;
}

.u-section-9 .u-text-2 {
    margin: 20px 0 0;
}

.u-section-9 .u-layout-cell-2 {
    min-height: 168px;
}

.u-section-9 .u-container-layout-2 {
    padding: 20px;
}

.u-section-9 .u-btn-1 {
    background-image: none;
    margin: 0 57px 0 auto;
    padding: 18px 45px 19px 43px;
}

@media (max-width: 1199px) {
    .u-section-9 .u-sheet-1 {
        min-height: 237px;
    }

    .u-section-9 .u-shape-1 {
        width: 940px;
    }

    .u-section-9 .u-layout-wrap-1 {
        width: 940px;
    }

    .u-section-9 .u-layout-cell-1 {
        min-height: 108px;
    }

    .u-section-9 .u-layout-cell-2 {
        min-height: 146px;
    }

    .u-section-9 .u-btn-1 {
        margin-right: 16px;
    }
}

@media (max-width: 991px) {
    .u-section-9 .u-sheet-1 {
        min-height: 229px;
    }

    .u-section-9 .u-shape-1 {
        width: 720px;
    }

    .u-section-9 .u-layout-wrap-1 {
        width: 720px;
    }

    .u-section-9 .u-layout-cell-1 {
        min-height: 100px;
    }

    .u-section-9 .u-container-layout-1 {
        padding-left: 30px;
        padding-right: 30px;
    }

    .u-section-9 .u-layout-cell-2 {
        min-height: 100px;
    }

    .u-section-9 .u-btn-1 {
        margin-right: 0;
    }
}

@media (max-width: 767px) {
    .u-section-9 .u-sheet-1 {
        min-height: 356px;
    }

    .u-section-9 .u-shape-1 {
        height: 276px;
        width: 540px;
    }

    .u-section-9 .u-layout-wrap-1 {
        width: 540px;
        margin-top: -261px;
    }

    .u-section-9 .u-text-1 {
        margin-left: auto;
    }

    .u-section-9 .u-text-2 {
        width: auto;
    }

    .u-section-9 .u-container-layout-2 {
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media (max-width: 575px) {
    .u-section-9 .u-sheet-1 {
        min-height: 358px;
    }

    .u-section-9 .u-shape-1 {
        width: 340px;
    }

    .u-section-9 .u-layout-wrap-1 {
        width: 340px;
        margin-bottom: 40px;
    }
}