{% extends 'base.html' %}
{% block content %}
<div class="container">
    <h1>Racismo pela raiz</h1>
    <h1>Racismo e Educação</h1>
    <hr />
    <p>
        No curso de medicina, segundo o UOL Educação, em pesquisa de 2013 de Cristiane Capuchinho, apenas 2,7% dos
        formandos são negros, e a revista IstoÉ traz o ​dado de que menos de 10% dos estudantes negros ocupam as vagas
        em universidades federais.
    </p>
    <h1>
        VIOLÊNCIA E HOMICÍDIO
    </h1>
    <p>
        A violência e homicídio contra pessoas pretas faz parte de uma triste realidade, no Brasil e no mundo, os
        números crescem a cada dia, segundo o Atlas da Violência 2020, somente em 2018, pretos e pardos, segundo o IBGE,
        somados totalizaram 75,7% dos homicídios, destes em maioria mulheres.
    </p>
    <img src="" alt="">
    <p>
        Segundo o Dicionário Escolar mini Aurélio (Edição especial para o FNDE/PNLD 2004, p. 616), entre as definições
        da palavra “racismo”, há “Preconceito ou discriminação em relação a indivíduo(s) considerado(s) de outra(s)
        raça(s)”. As tecnologias, desde o século XIX, vem se desenvolvendo gradativamente e com o surgimento da internet
        no século XX as pessoas passaram a ter acesso a várias tecnologias de comunicação, o que acarretou na
        disseminação da ideia de que há diferentes raças humanas, e que umas são superiores a outras, essa é só uma das
        heranças que a escravatura deixou para a sociedade, fazendo com que o Brasil seja um país com o racismo
        estrutural, que traz mazelas, até hoje carregadas pelo povo preto.
    </p>
    <p>
        Essa crença de “raças superiores” a cada dia é implementada na cabeça dos indivíduos, principalmente na de
        crianças brancas, por pais/parentes que são racistas, pela mídia, padrões impostos pela sociedade (como tipo de
        cabelo, costumes e gírias) entre outras, todas contribuem para o fortalecimento dessa narrativa retrógrada. Já
        dizia o vencedor do Prêmio Nobel da Paz de 1933 e líder ativista na luta contra o apartheid na África do Sul,
        Nelson Mandela, “Ninguém nasce odiando outra pessoa por sua cor da pele, sua origem ou sua religião. As pessoas
        podem aprender a odiar e, se podem aprender a odiar, pode-se ensiná-las a aprender a amar. O amor chega mais
        naturalmente ao coração humano que o contrário.”.

    </p>

    <div class="container">
        <div class="card-people">
            <div class="img-container">
                <img src="" alt="">
            </div>
            <div class="text-container">
                <h1>Marielle Franco (Marielle Francisco da Silva) - Política</h1>
                <span>Nascimento: 27 de julho de 1979, Rio de Janeiro, Rio de Janeiro
                    Assassinato: 14 de março de 2018, Rio de Janeiro, Rio de Janeiro
                </span>
                <p>Nascimento: 27 de julho de 1979, Rio de Janeiro, Rio de Janeiro
                    Assassinato: 14 de março de 2018, Rio de Janeiro, Rio de Janeiro
                </p>
                <br />
            </div>
        </div>

        <div class="card-people">
            <div class="img-container">
                <img src="" alt="">
            </div>
            <div class="text-container">
                <h1>Harriet Tubman (Araminta Ross) - Ativista</h1>
                <span>Nascimento: Condado de Dorchester, Maryland, EUA
                    Falecimento: 10 de março de 1913, Auburn, Nova York, EUA
                </span>
                <p>Foi uma abolicionista e ativista americana. Espiã, liderou missões com o objetivo de libertar pessoas
                    da escravidão.
                </p>
                <br />
            </div>
        </div>



        <div class="card-people">
            <div class="img-container">
                <img src="" alt="">
            </div>
            <div class="text-container">
                <h1>Maria da Penha (Maria da Penha Maia Fernandes) - Farmacêutica
                </h1>
                <span>Maria da Penha (Maria da Penha Maia Fernandes) - Farmacêutica
                </span>
                <p>Em 1983, seu esposo tentou matá-la com um tiro de espingarda, na tentativa falha de seu marido, lutou
                    para que seu agressor viesse a ser condenado. Hoje ela é líder de movimentos de defesa dos direitos
                    das mulheres, vítima emblemática da violência doméstica.</p>
                <br />
            </div>
        </div>


        <div class="card-people">
            <div class="img-container">
                <img src="" alt="">
            </div>
            <div class="text-container">
                <h1>Martin Luther King Jr. - Ativista Político
                </h1>
                <span>Nascimento: 15 de janeiro de 1929, Atlanta, Geórgia, EUA
                    Assassinato: 4 de abril de 1968, Memphis, Tennessee, EUA
                </span>
                <p>Pastor batista e ativista político estadunidense que se tornou a figura mais proeminente e líder do
                    movimento dos direitos civis nos Estados Unidos de 1955 até 1968 (ano do seu assassinato). Se
                    posicionou pacificamente contra a segregação racial, que em muitos estados era lei</p>
                <br />
            </div>
        </div>



        <div class="card-people">
            <div class="img-container">
                <img src="" alt="">
            </div>
            <div class="text-container">
                <h1>Sylvia Rivera (Sylvia Ray Rivera) - Ativista
                </h1>
                <span>Nascimento: 2 de julho de 1951, Nova Iorque, Nova York, EUA
                    Falecimento: 19 de fevereiro de 2002, Saint Vincent's Catholic Medical Center, Nova Iorque, Nova
                    York, EUA
                </span>
                <p>É uma ativista transgênero americana e trabalhadora do sexo, lutava pela libertação gay e pelos
                    direitos dos transgêneros. Junto à também ativista Marsha P. Johnson, defenderam, na década de 1960,
                    a inclusão de indivíduos transgênero na sociedade.
                </p>
                <br />
            </div>
        </div>


        <div class="card-people">
            <div class="img-container">
                <img src="" alt="">
            </div>
            <div class="text-container">
                <h1>
                    <div class="card-people">
                        <div class="img-container">
                            <img src="" alt="">
                        </div>
                        <div class="text-container">
                            <h1>Marsha P. Johnson - Ativista
                            </h1>
                            <span>Nascimento: 24 de agosto de 1945, Elizabeth, Nova Jersey, EUA
                                Falecimento: 6 de julho de 1992, Nova Iorque, Nova York, EUA
                            </span>
                            <p>Mulher trans, drag queen durante a maior parte de sua vida adulta e ativista americana
                                pela libertação gay.
                            </p>
                            <br />
                        </div>
                    </div>
            </div>
        </div>
    </div>

    <h1>Os dados não mentem</h1>
    <h3>O racismo estrutural que perdura no cenário brasileiro evidenciado através das estatísticas. </h3>
    <hr />
    <div class="card">
        <h3>ESCOLA </h3>
        <p>71,7% dos jovens que pararam de estudar em 2020 são pretos ou pardos. A maioria, entre 10 e 14 anos, afirmam
            que deixaram a escola porque precisavam trabalhar.
        </p>
    </div>
    <div class="card">
        <h3>
            ESPORTES
        </h3>
        <p>
            ​Segundo dados de 2020 do Globo Esporte, casos de racismo no futebol brasileiro cresceram 52%, dos quais
            apenas 10% são punidos.
        </p>
    </div>
    <div class="card">
        <h3>
            REALIDADE SOCIOECONÔMICA
        </h3>
        <p>
            ​Conforme expõem dados do IBGE em 2018, os brasileiros pardos e negros ocupam os piores empregos, piores
            condições de saúde, ausência de pode político e piores condições de saúde
        </p>
    </div>
    <h1>VEM PRA CÁ</h1>
    <p>Além de adquirir conhecimento, entender melhor seus direitos, os nomes por trás da luta que move as comunidades
        social e historicamente oprimidas e as principais estatísticas que englobam as pautas sociais, você pode pôr em
        prática tudo que sabe a respeito dos temas nos quizzes disponíveis em nosso site.</p>

    <div class="container-cta">
        <h1>Por que você deve se cadastrar</h1>
        <p>Aqui você pode ter acesso a uma parte das vertentes sociais que compõem a sociedade. Através dos conteúdos
            informativos sobre LGBTfobia, racismo e violência sexual, são abordados de forma simples e de fácil
            entendimento as raízes dessas problemáticas e o contexto histórico e social de cada uma delas.</p>
        <button class="btn btn-danger">Faça seu cadastro, vem!</button>

    </div>
    <h1>OPORTUNIDADES IGUAIS</h1>
    <p>
        Não tendo as mesmas oportunidades, o negro sofre com o famoso racismo institucional, onde embora estando no
        mesmo patamar de uma pessoa branca, sempre é tida como segunda opção ou “não-opção”, sendo submetida a sálarios
        inferiores até quando ocupa o mesmo cargo de uma pessoa branca, sendo inferiozado(a) simplesmente pela cor de
        pele. Vê-se desigualdade também ao notar que empregos elitizados são em sua maioria ocupados por pessoas
        brancas, como engenheiro aeronaútico, professor de medicina e odontologia, enquanto negros ocupam vagas de
        trabalho com poucas ou sem qualificação (que exige pouco preparo), como por exemplo, operadores de
        telemarketing, agente de higiene e segurança, comprovando a vericidade da frase da personagem Mary Jackson no
        filme Estrelas Além do Tempo (2016) “Toda vez que nós temos a chance de ir em frente, eles mudam a linha de
        chegada”.
    </p>
    <p>
        Tratando-se de oportunidades, são poucas não só no campo de trabalho, mas também em instituições de ensino,
        públicas e privadas, onde é fato de que negros, pardos e indígenas ocupam menos vagas em facudades (18% menos
        que brancos), fruto do sistema escravista, que mesmo depois de abolido, não foi fornecido a estes, ações
        afirmativas ou quaisquer mecanismos de inclusão para os ajudar a reestabelecer suas vidas, o que gerou maior
        dificuldade quanto ao acesso ao ensino. Hoje em dia, a maior parte da população negra vive em favelas, na
        pobreza e em condições sanitárias precárias, muitos afirmam que essa vivência é antiga pois o sistema de cotas
        raciais têm mudado essa realidade, mas mal sabem que mesmo com essa e outras políticas públicas há muito o que
        se fazer, só no curso de medicina, segundo o UOL Educação, em pesquisa de 2013 de Cristiane Capuchinho, apenas
        2,7% dos formandos são negros, e a revista IstoÉ traz o dado de que menos de 10% dos estudantes negros ocupam as
        vagas em universidades federais. Já tendo que lidar com todos estes dados estatísticos, é preciso suportar a
        premissa da “raça superior” que aparece nem sempre por violência física, mas verbal, como frases disfarçadas de
        “brincadeira”.
    </p>
    <p>
        A violência e homicídio contra pessoas pretas também são uma triste realidade, no Brasil e no mundo, os números
        crescem a cada dia, segundo ​o Atlas da Violência 2020, somente em 2018, pretos e pardos, segundo o IBGE,
        somados totalizaram 75,7% dos homicídios, destes em maioria mulheres. Como disse Martin Luther King Jr. em seu
        famoso discurso na Marcha sobre Washington por Trabalho e Liberdade (evento que aconteceu em 28 de agosto de
        1963), “Eu tenho um sonho que meus quatro pequenos filhos um dia viverão em uma nação onde não serão julgados
        pela cor da pele, mas pelo conteúdo do seu caráter. Eu tenho um sonho hoje.”.
    </p>
</div>
{% endblock %}